.about-section {
    margin: 1rem auto;
    width: 96%;
    text-align: center;
    border-radius: 7px;
    margin-top: 1rem;
}

.about-section-header {
    width: 100%;
    background-color: #7A9DAB;
    padding: 1.2rem;
    border-radius: 7px;
}

.about-section-skills,
.about-section-academic,
.about-section-courses,
.about-section-experience {
    margin: 1rem auto;
    width: 100%;
    padding: 1.2rem;
    border-radius: 7px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.about-section-header h1,
.about-section-skills h2,
.about-section-academic h2,
.about-section-courses h2,
.about-section-experience h2 {
    font-size: 3rem; 
    color: #fff;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: left;
}

.experience-list h3 {
    color: #d4d4d4;
}

.experience-list p {
    color: #b5b5b5;
    margin-top:1rem;
}

.academic-list li{
    color: #b5b5b5;
    list-style: none;
    text-align: left;
}

.about-section-header p {
    font-size: 1.2rem;
    text-align: left;
}


.skill-category ul,
.about-section-courses ul,
.about-section-experience ul {
    text-align: left;
    font-size: 1.2rem;
    list-style: none;
}

.skills-list {
    display: flex;
    list-style: none;
}

.skills-list li{
    color: #fff;
    border-radius: 8px; 
    padding: 0.3rem;
    margin-right: 1rem;

}

.skills-grid {
    margin-left: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    width: 75%;
}

.skill-category h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #d4d4d4;
}

.skill-category ul {
    list-style: none;
    padding: 0;
}

.skill-category li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #b5b5b5;
}

/* Style Colors Tags */
.tag1 {
    background-color: rgb(0, 100, 80);
}
.tag2 {
    background-color: rgb(132, 0, 231);
}
.tag3 {
    background: rgb(30, 50, 100);
}

.tag4 {
    background: rgb(140, 25, 50);
}

.tag5 {
    background: rgb(232, 17, 91);
}
.tag6 {
    background: rgb(83, 122, 161);
}

.tag7 {
    background: rgb(142, 102, 172);
}

.tag8 {
    background: rgb(20, 138, 8);
}

.tag9 {
    background: rgb(30, 50, 100);
}

.tag10 {
    background: rgb(233, 20, 41);
}

.tag11 {
    background: rgb(80, 55, 80);
}

.tag12 {
    background: rgb(216, 64, 0);
}

.tag13 {
    background: rgb(186, 93, 7);
}

.tag14 {
    background: rgb(0, 30, 80);
}

.tag15 {
    background: rgb(60, 30, 80);
}


/* Style Contact */

.contact-section {
    margin: auto auto 1rem auto;
    width: 96%;
    text-align: center;
    background-color: #7A9DAB;
    border-radius: 7px;
    padding: 1px;
}

.contact-section-header {
    margin: 20px 0 20px 0;
}

.contact-section-header h1 {
    font-size: 3rem; 
    color: #fff;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.contact-redirect-email {
    color: #2a2a2a;
    text-decoration: none;
    margin: 80px;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.contact-redirect-email:hover {
    color: #404040;
}

.contact span {
    display: block;
    margin: 10px 0;
}

.contact-btn-redirect {
    display: inline-block;
    background-color: #926758;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    margin: 35px 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.contact-btn-redirect:hover {
    background-color: #9a7263;
    color: white;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}


.light-mode .about-section-skills h2,
.light-mode .about-section-academic h2,
.light-mode .about-section-courses h2,
.light-mode .about-section-experience h2 {
    color: #333333;
}

.light-mode .about-description {
    color: #fff;
}

.light-mode .about-section-academic li,
.light-mode .experience-list h3,
.light-mode .experience-list p,
.light-mode .skills-grid li {
    color: #333333;
}