/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

/* Style Navbar */
nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0.6rem auto;
    width:100%;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 20px;
    display: flex;
}

nav a, nav button {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

nav a:hover, nav button:hover {
    background-color: #555;
}

button {
    border: none;
    cursor: pointer;
    background-color: #444;
    color:#C9C5CC;
}

.button-home {
    border: none;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 0.84rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.button-theme-container {
    background-color: rgba(64, 64, 64, 0.5);
    border: none;
    color: white;
    padding: 2px 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    border: 2px solid #444;
}

.button-theme-alternative {
    position:absolute;
    left: 0.2rem;
    padding: 6px 8px 6px 8px;
    border-radius: 100%;
    background-color: #4d4d4d;
    transition: 0.4s;
}


.section {
    max-width: 1200px;
    width: 90%;
    border-radius: 7px;
}

.main {
    margin: 0 auto;
    width: 1000px;
    background-color: #121212;
    border-radius: 7px;
    border: 1px solid #121212;
}

/* Estilo básico para o popup */
.popup {
  display: none;
  position: absolute;
  text-align: center;
  margin: 0.3rem;
  right: 0;
  width: 12rem;
  height: 11.8rem;
  background-color: #2a2a2a;
  padding: 10px;
  border: 1px solid #2a2a2a;
  color:#fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup ul {
  list-style: none;
  align-items: right;
  margin-top: 5px;
  padding: 0;
}

.popup li button {
  background: none;
  margin: 2px;
  width: 11rem;
  cursor: pointer;
  color: #ddd;
  font-size: 0.8rem;
  padding: 8px;
}

.popup li button:hover {
  background-color: #404040;
}


/* Style Redirect Buttons Pages */
.redirect-pages-section {
    text-align: center;
    background-color: #121212;
    border-radius: 7px;
    padding: 0.1rem 1rem 1rem 1rem;
    display: grid;
}

.redirects-button-container {
    display: flex;
    justify-content: baseline;
    gap: 0.6rem;
}

.redirect-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: #2a2a2a;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.redirect-button:hover {
    background-color: #404040;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.redirect-button.active {
    background-color: #fff;
    color: #2a2a2a;
}

.redirect-button i {
    margin-right: 0.5rem;
}

/* Style Footer */

footer {
    justify-content: center;
}

.footer-info {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 1rem 4rem;
}

/* Style Colors Tags */
.tag1 {
    background-color: rgb(0, 100, 80);
}
.tag2 {
    background-color: rgb(132, 0, 231);
}
.tag3 {
    background: rgb(30, 50, 100);
}

.tag4 {
    background: rgb(140, 25, 50);
}

.tag5 {
    background: rgb(232, 17, 91);
}
.tag6 {
    background: rgb(83, 122, 161);
}

.tag7 {
    background: rgb(142, 102, 172);
}

.tag8 {
    background: rgb(20, 138, 8);
}

.tag9 {
    background: rgb(30, 50, 100);
}

.tag10 {
    background: rgb(233, 20, 41);
}

.tag11 {
    background: rgb(80, 55, 80);
}

.tag12 {
    background: rgb(216, 64, 0);
}

.tag13 {
    background: rgb(186, 93, 7);
}

.tag14 {
    background: rgb(0, 30, 80);
}

.tag15 {
    background: rgb(60, 30, 80);
}

/* Style Contact */

.contact-section {
    margin: auto auto 1rem auto;
    width: 96%;
    text-align: center;
    background-color: #7A9DAB;
    border-radius: 7px;
    padding: 1px;
}

.contact-section-header {
    margin: 20px 0 20px 0;
}

.contact-section-header h1 {
    font-size: 3.3rem; 
    color: #fff;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.contact-redirect-email {
    color: #2a2a2a;
    text-decoration: none;
    margin: 80px;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.contact-redirect-email:hover {
    color: #404040;
}

.contact span {
    display: block;
    margin: 10px 0;
}

.contact-btn-redirect {
    display: inline-block;
    background-color: #926758;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    margin: 35px 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.contact-btn-redirect:hover {
    background-color: #9a7263;
    color: white;
}

/* Style Light-mode */
body.light-mode {
    background-color: #f0f0f0;
    color: #333333;
}

.light-mode .button-theme-container {
    background-color: #F4F7F9;
}

.light-mode .redirect-button {
    background-color: #808080;
    color: #fff;
}

body.light-mode .main{
    background-color: #fff;
    border: 1px solid #fff;
    color: #333333;
}

body.light-mode .redirect-pages-section{
    background-color: #fff;
    color: #333333;
}

.light-mode .redirect-button.active {
    background-color: #2a2a2a;
}

body.light-mode .button-theme-alternative {
    left: calc(100% - 1.8rem); /* MEXER AQUI */
}